{% extends "base.html" %}

{% block content %}
    <h2>{{ parent_object }}</h2>
    <table class="w3-table w3-bordered w3-margin-top w3-white detail-table">
        <tr>
            <th>ID</th>
            <td>{{ parent_object.pk }}</td>
        </tr>
        <tr>
            <th>Désignation</th>
            <td>{{ parent_object.designation }}</td>
        </tr>
    </table>
    <div class="w3-margin-top">
        <a href="{% url 'zone_update' pk=parent_object.pk %}" class="w3-btn w3-theme-l1  w3-round-small">Modifier</a>
        <a href="{% url 'zone_delete' pk=parent_object.pk %}" class="w3-btn w3-red  w3-round-small">Supprimer</a>
        <a href="{% url 'zone_list' %}" class="w3-btn w3-theme-l1 w3-round-small">Retour à liste</a>

    </div>

    {#    Child object List#}
    <div class="w3-padding-32">
        {#    Tab bar#}
        <div class="w3-bar w3-theme">
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 1 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=1 %}">Dimache</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 2 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=2 %}">Lundi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 3 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=3 %}">Mardi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 4 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=4 %}">Mercredi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 5 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=5 %}">Jeudi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 6 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=6 %}">Vendredi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 7 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=7 %}">Samedi</a>
            <a class="w3-bar-item w3-button {% if request.resolver_match.kwargs.day_index == 8 %} w3-white{% else %} w3-theme-l1{% endif %}"
               href="{% url 'zone_detail' parent_pk=parent_object.pk day_index=8 %}">Jours Férés</a>

        </div>
        <div class="w3-padding-16">
            <h3>{{ object }}</h3>
        </div>

        <table class="w3-table w3-bordered w3-white">
            <tr>
                <td>ID</td>
                <th>{{ object.pk }}</th>
            </tr>
            <tr>
                <td>Check Time</td>
                <th>{{ object.patrol_check_time }}</th>
            </tr>
            <tr>
                <td>Tolérance</td>
                <th>{{ object.tolerated_time }}</th>
            </tr>
            <tr>
                <td>Observation</td>
                <th>{{ object.observation }}</th>
            </tr>
            <tr>
                <td>Créé le</td>
                <th>{{ object.created }}</th>
            </tr>
            <tr>
                <td>Dernière Modification</td>
                <th>{{ object.modified }}</th>
            </tr>
        </table>
        <a class="w3-btn w3-theme-l1 w3-round-small" href="javascript:history.back()">Retour</a>
    </div>
{% endblock %}