{% extends "base.html" %}

{% block content %}
    
    <h2>Liste des plannings par zone</h2>
  
    <h5>Clicker sur une zone afin d'élaborer son planning des tournées<h5>
    <table class="w3-table w3-bordered w3-margin-top w3-white">
        <thead>
        <th>ID</th>
        <th>Désignation</th>
        
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td><a href="{% url 'planning_list_filtred' zone=object.pk selected_day_index=1 %}">{{ object.pk }}</a></td>
                <td><a href="{% url 'planning_list_filtred' zone=object.pk selected_day_index=1 %}">{{ object.designation}} ({{ object.site}})</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}