{% extends "base.html" %}
{% load static %}
{% block content %}
   


    <div class="topnav" id="topnavId">
     
        <a class="nav-item active" onclick="console.log('clicked');" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=1 %}" id="a1">Samedi</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=2 %}" id="a2">Dimanche</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=3  %}" id="a3">Lundi</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=4 %}" id="a4">Mardi</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=5 %}" id="a5">Mercredi</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=6 %}" id="a6">Jeudi</a>
        <a class="nav-item" href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=7 %}" id="a7">Vendredi</a>
        <a class="nav-item"  href="{% url 'planning_list_filtred' zone=zone_id selected_day_index=8 %}" id="a8">Jour férié</a>
    
    </div>
    <div class="w3-container event-container">
    {% comment %} <div class="event-container"> {% endcomment %}
      <h3 class="patrol-log">Planning de la tournée</h3>
      <a href="{% url 'planning_create' zone=zone_id selected_day_index=selected_day %}" class="w3-btn w3-theme-action w3-round-small">Nouveau</a> 
      {% for object in object_list %}
        <div class="w3-panel w3-card event">
          

          {% comment %} <div class="event-left">
            <div class="event-date">
              <div class="date">27</div>
              <div class="month">Dec</div>
            </div>
          </div> {% endcomment %}

          <div class="event-right">
            
            <h3 class="event-title">{{ object.zone }}</h3>
      

            <div class="event-description">
              <p><span style="font-weight:900">Note : </span> {{ object.observation }} </p>
              <p><span style="font-weight:900">{{ tag_number }} Tag(s)</span> (est/sont) à visiter dans cette zone,
                la tournée doit commencer à : </p>
            </div>
          

            <div class="event-timing-row">
              <div class="event-timing">
                <img src="{% static '/core/images/time.png' %}" alt="" /> {{ object.patrol_start_time }}
              </div>
              <div class="event-p">
                <p>avec une tolérance de (+/-): </p>
              </div>
              <div class="event-timing-tolerance">
                {{ object.tolerated_time }} 
              </div>
              <div class="event-p">
              <p>minutes.</p>
              </div>
            </div>
     
            
        </div>
        <a href="{% url 'planning_update' pk=object.pk %}" class="w3-btn w3-round-small">u</a>
        <a href="{% url 'planning_delete' pk=object.pk %}" class="w3-btn w3-round-small">x</a>
      </div>
      {% endfor %}
      
    
      <script>

        const list = document.querySelector('.topnav');
                    
                  
            const links = list.querySelectorAll('a');
            console.log(links)
            const activePage = window.location.pathname;
            // Add one listener to the list element
            list.addEventListener('click', handleClick);

            // If the clicked element is a link remove all
            // the active classes from the other links, and then
            // add the active class to the link that was clicked on
            function handleClick(e) {
              //window.location=e.target.href 
            //e.preventDefault()
              //if (e.target.matches('a')) {
                links.forEach(link => {

                  
                if (link.href.includes('${activePage}')){
                  link.classList.remove('active');
                  link.classList.add('active');
                }
                //
                
                console.log(link.href.includes('${activePage}'));
                
              }
                )
            }
        </script>


        {% comment %} document.querySelectorAll(".nav-item").forEach((ele) =>
        
          ele.addEventListener("click", function (event) {
            event.preventDefault();
            document
              .querySelectorAll(".nav-item")
              .forEach((ele) => ele.classList.remove("active"));
            this.classList.add("active")

          })
          
        ); {% endcomment %}

  
{% endblock %}