{% extends "base.html" %}

{% block content %}
    <h2>Liste des zones</h2>
    <a href="{% url 'zone_create' %}" class="w3-btn w3-theme-action w3-round-small">Nouveau</a>
    <table class="w3-table w3-bordered w3-margin-top w3-white">
        <thead>
        <th>ID</th>
        <th>Désignation</th>
        <th>Action</th>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.designation}} ({{ object.id_site}})</td>
                <td>
                    <a href="{% url 'zone_update' pk=object.pk %}" class="w3-btn w3-theme-l5 w3-small">Modifier</a>
                    <a href="{% url 'zone_delete' pk=object.pk %}" class="w3-btn w3-red w3-small">Supprimer</a>
                    <a href="{% url 'zone_detail' pk=object.pk %}" class="w3-btn w3-theme-l5 w3-small">Afficher</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}