{% extends 'base.html' %}
{% block content %}
    <ul class="menu_ul">
        <li><a class="menu-link" href="{% url 'enterprise_list' %}">Gestion Des Entreprises</a></li>
        <li><a class="menu-link" href="{% url 'site_list' %}">Gestion Des Sites</a></li>
        <li><a class="menu-link" href="{% url 'zone_list' %}">Gestion Des Zones & Planning</a></li>
        <li><a class="menu-link" href="{% url 'employee_list' %}">Gestion Des Agents</a></li>
        <li><a class="menu-link" href="{% url 'tag_list' %}">Gestion Des Tags</a></li>
    </ul>

    <style>

        .menu_ul > li {
            list-style-type: none;
            padding: 10px;

        }

        .menu-link {
            margin: 10px;
            background-color: #00c08d;
            padding: 10px;
            text-decoration: none;
        }

    </style>
{% endblock %}
